<p>Track popularity</p>
<div class="chartBlock">
  <canvas id="popChart" 
    baseChart 
    width="400" 
    height="400"
    [type]="'bar'"
    [data]="popularityHistogramData">
  </canvas>
</div>

<p>Track Explicitness</p>
<div class="chartBlock">
  <canvas id="explicitChart" 
    baseChart 
    width="400" 
    height="400"
    [type]="'pie'"
    [data]="explicitChartData">
  </canvas>
</div>

<p>Track release decade</p>
<div class="chartBlock">
  <canvas id="releaseChart" 
    baseChart 
    width="400" 
    height="400"
    [type]="'bar'"
    [data]="releaseDecadeHistogramData">
  </canvas>
</div>
  
<p>Track genres</p>
<div class="chartBlock">
  <angular-tag-cloud
    [data]="cloudData"
    [width]="1000"
    [height]="400"
    [overflow]="false">
  </angular-tag-cloud>
</div>
