.input-group {
    margin-top: 1rem;
}

.light-input {
    background-color: white;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #16E58B !important;
    color: #101010;
}

.light-select {
    background-color: #fff; 
    color:#585C5F;
}