.input-group {
    margin-top: 2rem;
}

.light-input {
    background-color: white;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #16E58B !important;
    color: #101010;
}
